* {
    margin: 0px;
    padding: 0px;
    font-family: Inter;
}

header {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    margin-bottom: 100px;
    box-shadow: 0px 10px 8px #1c1414;
}


header > img {
    width: 100px;
    margin-right: 15px;
}

body {
    background-color: #171717;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.label-item {
    font-size: 32px;
    color: white;
    margin-bottom: 20px;
}

.upload-item::file-selector-button {
    background-color:rgba(16, 144, 95, 0.937);
    color: white;
    font-size: 32px;
    border-radius: 5%;
    border-width: 3px;
    border-color: black;
}

.upload-item {
    color: white;
    font-size: 16px;
}

.poke-page-container {
  margin: 75px;
  padding: 30px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color:white;
}

.sprite-chart-table-container {
  justify-content: space-between;
  display: flex;
  align-items: center;
  width: 90%;
  max-width: 1000px;
}

.sprite-chart-table-container > div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sprite-chart-table-container img {
  height: 300px;
  width: 300px;
}

.table-item {
  border-collapse: collapse;
}

.table-item th, td {
  border-style: solid;
  border-color: white;
  padding: 10px;
  text-align: center;
}

span {
  font-size: 12px;
  padding: 5px;
  border-radius: 20%;
}